body {
    color: var(--text);
    background: var(--bg);
    font-size: 1.15rem;
    line-height: 1.5;
    display: grid;
    grid-template-columns: 1fr min(120rem,100%) 1fr;
    margin: 0;
}
#content {
        max-width: 120rem;
}

#content > header h1 {
  max-width: 560px;
  margin: 1rem auto;
}

header {
    background-position: bottom;
    background-image: url(/images/BG.png);
    padding: 6rem 0.5rem;
}
main {
    width: 75rem;
    margin: auto;
}
.header-nav {
    backdrop-filter: blur(17px);
    font-size: 1rem;
    line-height: 2;
    padding: 0 0 1rem 0;
    width: 530px;
    margin: auto;
    border-radius: 4px;
}

#PageNav {
    margin: auto;
}
#PageNavContainer {
    width:42%;
    margin:auto
}
#PageNavBtn {
    padding: 0 0 0 0.5rem;
}
